<%- include('partials/top') %>

<%- include('partials/pageShape') %>
                  <span class="h1 fw-bold mb-0">Almost Done...</span>
                </div>
                <form action="/newUser/choosePassword" method="POST">
                  <div class="form-floating mb-4">
                    <input type="password" name="password1" class="form-control" placeholder="Password" required maxlength="32" value="<%= det.pas1 || '' %>" />
                    <label for="password1" class="text-secondary">Password</label>
                  </div>
                  <div class="form-floating mb-4">
                    <input type="password" name="password2" class="form-control" placeholder="Confirm Password" required maxlength="32" value="<%= det.pas2 || '' %>" />
                    <label for="password2" class="text-secondary">Confirm Password</label>
                  </div>
                  <% if (messages.error) { %>
                  <h6 class="text-danger"><%= messages.error %></h6>
                  <% } %>
                  <div class="d-flex justify-content-start gap-3 pt-1 mb-4">
                    <button class="btn btn-info btn-lg" type="button" onclick="window.location.href='/newUser/register'">Back</button>
                    <button class="btn btn-dark btn-lg" type="submit">Sign up</button>
                  </div>
                  <p>Already have an account?<a href="/login" class="btn btn-link p-0 ms-1" style="color: #393f81"> login here</a></p>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include('partials/modal') %>
<%- include('partials/buttom') %>
